body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #303030;
    line-height: 1.5;
    background: #eaeaea;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background: #2c2c2c;
}

.footer_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #5a5a5a;
    padding: 25px 0;
}

.current_page {
    border: 3px solid #c8c8c8;
    border-radius: 5%;
    background-color: #424242;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__links a {
    width: 60px;
    height: 60px;
}

.footer__links img {
    width: 100%;
    filter: brightness(60%);
    transition: filter 0.3s ease-in-out; /* Плавный переход для фильтра */
}

header {
    top: 0;
    background: #2c2c2c;

    position: sticky;
    z-index: 2;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #ffffff;
    padding: 25px 0;
}

.header__logo {
    display: block;
    color: inherit;
    font-size: 20px;
    line-height: 1;
    font-family: 'Varela', sans-serif;
    font-weight: bold;
}

.header__logo span {
    display: block;
    font-size: 12px;
    position: relative;
    text-align: left;
    letter-spacing: 4.6px;
}

.header__menu ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    gap: 5px;
}


.header__menu ul li {
    transition: background-color 0.3s ease-in-out; /* Плавный переход для фильтра */
}

.header__menu ul a {
    color: inherit;
    display: block;
    padding: 10px 17px;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    line-height: 1;
    text-decoration: none;
}
.create__post {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
}
.create__post button {
    z-index: 1;
    width: 100%;
    border: 1px solid #2c2c2c;
    height: 25px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    background-color: #d94500;
    color: #eaeaea;
    transition: background-color 0.3s ease-in-out;
}


.post__data {
    position:fixed;
    top: 0px;
    width: 100%;
    background-color: #2c2c2c;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-250px);
    transition: transform 0.3s ease-in-out;
}

#enabled {
    position: static;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.create__post input {
    width: 50%;
}

.create__post__footer {
    width: 50%;
    display: flex;
}

.create__post div h3 {
    margin: 0;
}

.header__footer {
    background-color: #c03d00;
    padding: 0 5%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__footer h2 {
    margin: 0;
}

.content {
    margin: 25px;
}

.photo__block img {
    max-width: 100%;
    border: 5px solid #303030;
}

.table__content {
    border-collapse: collapse;
    border: 1px solid grey;
}

@media (max-width: 1019px) {
    .header__footer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header__footer .create_post {
        width: 100% ;
    }
    .header__content {
        flex-direction: column;
        align-items: center;
    }
    .header__menu ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_content {
        flex-direction: column;
        align-items: center;
    }
    .enabled { 
        top: 208px;
    }

}

.header__menu ul li:hover {
    background-color: #424243;
}


.create__post button:hover {
    background-color: #424243;
}

.footer__links img:hover {
    filter: brightness(90%); /* Увеличиваем яркость при наведении */
}

.container {
    display: flex;
}

.content__wrapper {
    margin: 0 auto;
    width: 90%;
}

.body__registration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration__block {
    border: 5px solid #c03d00;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background: #2c2c2c;
    color: #ffffff;
}

.registration__header {
    background-color: #c03d00;
    box-shadow: #c03d00 0px 0px 15px 0px;
    
}

.registration__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.content__block article {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    background: #fff;
    justify-content: space-between;
}

.block__information {
    display: flex;
    flex-direction: column;
}

.content__block article h4 {
    margin: 0;
}

.content__block article h6 {
    margin: 0;
}

.content__block article p {
    text-wrap: wrap;
    color: #707070;
    margin: 0;
}

.hr-line {
	margin: 10px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #c8c8c8;
}

.block__author {
    display: flex;
    flex-direction:row;
    gap: 10px;
    align-items: center;
}

.block__author img {
    height: 50px;
    width: 50px;
    max-width: 100%;
    border-radius: 100px; /* Радиус скругления */
}